<div class="datos">
  <p><strong>Nombre del lugar:</strong> Cuidad Perdidad</p>
  <p>
    <img src="assets/img/ciudadperdida.jpg">
  </p>
  <h3>Descripción.</h3>
  <p>Ciudad Perdida, también conocida como Teyuna o Buritaca-200,1​ fue un antiguo poblado
    indígena tayrona y sitio arqueológico perteneciente a la ciudad de Santa Marta, en Colombia.
    Fue construido alrededor del siglo viii de nuestra era y es considerado como uno de los principales
      sitios arqueológicos de Colombia.</p>
  <p>Hace parte de uno de los más de 250 poblados antiguos de los cuatro grupos indígenas encontrados
    en la cara norte y suroeste de la Sierra Nevada de Santa Marta, en el departamento del Magdalena
    al norte de Colombia.</p>
</div>
